body{
font-family:Arial,sans-serif;
margin:0;
padding:0;
background:linear-gradient(135deg,#16A34A,#DCFCE7);
}

.container{
max-width:500px;
margin:auto;
padding:20px;
background:white;
margin-top:20px;
border-radius:15px;
box-shadow:0 0 15px rgba(0,0,0,.2);
}

h1{
text-align:center;
color:#16A34A;
}

.features{
background:#f5f5f5;
padding:10px;
border-radius:10px;
margin-bottom:15px;
}

input,
textarea,
select{
width:100%;
padding:12px;
margin-top:10px;
border:1px solid #ccc;
border-radius:8px;
box-sizing:border-box;
}

button{
width:100%;
padding:15px;
background:#16A34A;
color:white;
border:none;
border-radius:10px;
font-size:18px;
margin-top:15px;
cursor:pointer;
}

button:hover{
background:#15803D;
}

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:15px;
border-radius:50px;
text-decoration:none;
font-weight:bold;
}

#phonepeBox{
margin-top:10px;
padding:10px;
background:#f8f8f8;
border-radius:10px;
}